# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.metadata/
SimpleJava/.classpath
SimpleJava/.project
SimpleJava/.settings/org.eclipse.jdt.core.prefs
SimpleJava/.metadata/.lock
SimpleJava/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
SimpleJava/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
SimpleJava/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
SimpleJava/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
SimpleJava/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.vmware.vfabric.ide.eclipse.tcserver.configurator.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.svn.core.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.core.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.frameworks.core.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
SimpleJava/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.dashboard.ui.prefs
SimpleJava/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
SimpleJava/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
SimpleJava/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
SimpleJava/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
SimpleJava/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
SimpleJava/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
SimpleJava/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
SimpleJava/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
SimpleJava/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
SimpleJava/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
SimpleJava/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
SimpleJava/.metadata/.plugins/org.eclipse.ui.intro/introstate
SimpleJava/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
SimpleJava/.metadata/.plugins/org.springframework.ide.eclipse.aop.core/.state
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/bootstrap/css/bootstrap.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/bootstrap/css/bootstrap.min.js
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/bootstrap/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/bootstrap/js/bootstrap.min.js
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/application.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/blog.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/buttons.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/dashboard.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/docs.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/flexbox.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/font-awesome.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/fontcustom.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/highlight.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/homepage.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/icons.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/main.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/markdown-content.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/panes.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/projects.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/responsive.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/tools.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/css/typography.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/font-awesome/css/font-awesome.css
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/font-custom/fontcustom.woff
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/blog.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/blog_32.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/bug_32.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/comparison_32.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/compass.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/compass_32.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/extension.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/extension_32.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/favicon.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/forum.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/forum_32.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/guides.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/guides_32.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/loading.gif
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/logo_bigleaf.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/logo_spring.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/logo_sts.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/new_32.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/overlay-incoming.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/question.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/spring-logo.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/springdocs.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/img/springdocs_32.png
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/js/application.js
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/js/filter.js
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/js/guide.js
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/js/jquery.js
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/common/js/modernizer.flexbox.js
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1743155292607/index.html
SimpleJava/.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
SimpleJava/.metadata/version.ini
